@font-face {
    font-family: 'Liquid Crystal';
    src: url(fonts/liquid-crystal/LiquidCrystal-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

body {
    background-color: black;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.display {
    width: 100%;
    padding: 0.5em;
    background-color: lightgray;
    border: 2px solid black;
    font-family: 'Liquid Crystal';
    text-align: end;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 0.2em;
    aspect-ratio: 1;
    border: 2px solid black;
}

.btn-num {
    background-color: lightgray;
}

.btn-op {
    background-color: greenyellow;
}

.display:hover {
    cursor: not-allowed;
}

.btn:hover {
    cursor: pointer;
}

.btn-num:hover {
    background-color: darkgray;
}

.btn-op:hover {
    background-color: green;
}
