PORT=3000
MONGODB_CONNECTION_URI=connection_string

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587 # 465
EMAIL_USER=apikey
EMAIL_PASSWORD=your_api_key_from_sendgrid

JWT_SECRET=stinga_molto_lunga_e_segreta
