@font-face {
    font-family: 'Liquid Crystal';
    src: url(fonts/liquid-crystal/LiquidCrystal-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

body {
    background-color: black;
}

.container {
    min-height: 100vh;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.display {
    font-family: 'Liquid Crystal';
    width: 100%;
}

.display {
    border: solid black 1px;
    text-align: end;
}

.display:hover {
    cursor: pointer;
}

.btn {
    width: 25%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
}

.display,
.btn {
    padding: 0.25em;
}

.display,
.btn-num {
    background-color: gainsboro;
}

.btn-op {
    background-color: greenyellow;
}

.btn:hover {
    cursor: pointer;
    backdrop-filter: grayscale(100%);
}

.btn-num:hover {
    background-color: darkgray;
}

.btn-op:hover {
    background-color: green;
}
