* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
}

.container {
    position: relative;
    height: 100%;
    background-color: black;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -100%);
    top: 75%;
    left: 50%;
    background-color: gold;
}

.bouncing.ball1 {
    left: 25%;
    animation-delay: 0.5s;
}

.bouncing {
    animation: rimbalzo 10s ease-in-out infinite;
}

.square {
    width: 50px;
    height: 50px;
    background-color: brown;
    position: absolute;
    top: 0;
    left: 0;
}

.giratore {
    animation: giro 20s infinite reverse;
}

.giratore:hover {
    animation-play-state: paused;
}

@keyframes rimbalzo {
    0% {
        background-color: gold;
    }

    50% {
        top: 100%;
        background-color: salmon;
    }

    75% {
        background-color: aqua;
    }

    100% {
        top: 75%;
        background-color: gold;
    }
}

@keyframes giro {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: calc(100% - 50px);
    }

    50% {
        top: calc(100% - 50px);
        left: calc(100% - 50px);
    }

    75% {
        top: calc(100% - 50px);
        left: 0;
    }
}
