* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: fit-content;
    padding: 50px 10px;
    background-color: brown;
    text-align: center;
    align-content: stretch;
}

.row {
    display: flex;
    flex: 1 0 0;
}

main {
    padding: 50px 10px;
    flex: 0 0 80%;
    background-color: gold;
}

aside {
    padding: 10px;
    padding-left: 25px;
    flex: 0 0 20%;
    background-color: aquamarine;
}

footer {
    height: fit-content;
    padding: 50px 10px;
    background-color: black;
    color: white;
    text-align: center;
}
