PORT=3000
BACKEND_HOST=http://localhost:3000
FRONTEND_HOST=http://localhost:5721

MONGODB_CONNECTION_URI=connection_string

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587 # 465
EMAIL_USER=apikey
EMAIL_PASSWORD=your_api_key_from_sendgrid

JWT_SECRET=stinga_molto_lunga_e_segreta

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_PATH=
GOOGLE_FRONTEND_PATH=
